body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 1000px;
  margin: 0 auto;
  padding: 12px 0px;
  height: calc(100vh - 24px);
  grid-template-rows: [header-start]100px [header-end box-start] 200px [box-end main-start] 400px [main-end foot-start] 100px [footer-end];
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];
  row-gap: 30px;
  column-gap: 30px;

  grid-template-areas:
    'head head head head'
    'box box box side'
    'main main main side'
    'foot foot foot foot';
}

.item {
  padding: 30px;
  background-color: dodgerblue;
}

.header {
  grid-area: head;
}

.small-box {
  grid-area: box;
}

.sidebar {
  grid-area: side;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: foot;
}

/* column/row names */
/* .header,
.footer {
  grid-column: col-start 1 / grid-end;
}

.small-box {
  grid-row: box-start / box-end;
}

.sidebar {
  grid-row: box-start / main-end;
  grid-column: col-end 3 / grid-end;
}

.main {
  grid-row: main-start / main-end;
  grid-column: col-start 1 / col-end 3;
} */
